CompileFlags:
  Add:
    - -std=c++17
    - "-I/Users/gaffle/Documents/programming/GITHUB Personal Projects/bank_account-main/include"
    - -I/opt/homebrew/include
    - -D_LARGEFILE_SOURCE
    - -D_LARGEFILE64_SOURCE
    - -D_THREAD_SAFE
    - -D_REENTRANT
